**/node_modules/
**/.next/
dist/
build/
out/
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/.venv/
venv/
.env
.env.*
docker/docker-compose.yml
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
